<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <bean id="actorcharan" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Charan" />
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="30" type="int"/>
    </bean>
    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="karthikeya"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="30" type="int"/>
    </bean>
    <bean id="actorMahesh" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Mahesh"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="30" type="int" />
    </bean>

<bean name="movieA,movieB" class="com.stackroute.domain.Movie"  scope="prototype"  >

</bean>

</beans>

